In [22]:
import json
import urllib.request
import requests

In [25]:
Url = "http://fxsim.info:3000/user/<userid>/case/test"
def get_data():
    res = urllib.request.urlopen(Url)
    return json.load(res)

def submit_data(ret):
    s = requests.session()
    r =  s.post(Url, data=json.dumps(ret))
    print(r.text.encode("utf-8"))

In [26]:
# input as a nested map
input_data_map = get_data()

In [44]:
# input as pandas (optional)
import pandas as pd
input_data_pd = pd.DataFrame(input_data_map)
input_data_pd.iloc[:,:5]

      20100104   20100105   20100106   20100107   20100108
AUD     1.0949     1.0937     1.0882     1.0907     1.0848
BRL     1.7200     1.7296     1.7292     1.7409     1.7342
CAD     1.0377     1.0371     1.0333     1.0351     1.0345
CHF     1.0294     1.0322     1.0282     1.0341     1.0296
CNY     6.8273     6.8258     6.8272     6.8280     6.8274
DKK     5.1597     5.1668     5.1638     5.1981     5.1827
EUR     0.6935     0.6943     0.6942     0.6986     0.6965
GBP     0.6207     0.6246     0.6243     0.6284     0.6252
HKD     7.7555     7.7564     7.7546     7.7539     7.7553
INR    46.2700    46.1300    45.7200    45.6700    45.5000
JPY    92.5500    91.4800    92.5300    93.3100    92.7000
KRW  1149.0000  1138.2000  1130.0000  1135.0000  1127.7500
LKR   114.4000   114.3000   114.3000   114.2700   114.3500
MXN    12.9110    12.8160    12.7420    12.7590    12.7256
MYR     3.3960     3.3850     3.3790     3.3680     3.3750
NOK     5.7113     5.6986     5.6805     5.7118     5.6868
NTD    31.6500    31.8900    31.8300    31.8500    31.8200
NZD     1.3648     1.3592     1.3596     1.3651     1.3627
SEK     7.0633     7.0919     7.0744     7.1251     7.1185
SGD     1.3971     1.3956     1.3945     1.3971     1.3941
THB    33.1800    33.1500    33.1400    33.1100    33.1300
VEF     2.1446     2.1446     2.1446     2.1446     2.1446
ZAR     7.2955     7.3060     7.3060     7.4400     7.3565

In [50]:
# print(input_data_pd.iloc[:,0:5])
print(input_data_pd.iloc[:,0].idxmax())
# print(input_data_pd.iloc[0,:])
print(input_data_pd.iloc[0,:])
# print(max(input_data_pd.iloc[:,]))

KRW
20100104    1.0949
20100105    1.0937
20100106    1.0882
20100107    1.0907
20100108    1.0848
20100111    1.0758
20100112    1.0820
20100113    1.0840
20100114    1.0745
20100115    1.0829
20100119    1.0831
20100120    1.1007
20100121    1.1046
20100122    1.1049
20100125    1.1074
20100126    1.1174
20100127    1.1152
20100128    1.1081
20100129    1.1270
20100201    1.1265
20100202    1.1308
20100203    1.1340
20100204    1.1566
20100205    1.1604
20100208    1.1503
20100209    1.1399
20100210    1.1441
20100211    1.1253
20100212    1.1313
20100216    1.1118
             ...
20160805    1.3131
20160808    1.3061
20160809    1.3025
20160810    1.2958
20160811    1.2970
20160812    1.3039
20160815    1.3008
20160816    1.2992
20160817    1.3125
20160818    1.3014
20160819    1.3123
20160822    1.3107
20160823    1.3102
20160824    1.3149
20160825    1.3138
20160826    1.3133
20160829    1.3199
20160830    1.3304
20160831    1.3299
20160901    1.3259
20160902    1.3232
20160906    1.3031
20160907    1.3029
20160908    1.3044
20160909    1.3246
20160912    1.3287
20160913    1.3386
20160914    1.3360
20160915    1.3312
20160916    1.3352
Name: AUD, Length: 1684, dtype: float64

In [58]:
# def fx(date):
#     start = 1000
#     max_rate_currency = input_data_pd.iloc[:,0].idxmax()


start = 1000
currencies = input_data_pd.index
dates = input_data_pd.columns

# for i in range(1,len(dates)):
for i in range(1,2:
    rate_change = {}
    for currency in currencies:
        rate_cur = input_data_pd.loc[currency,i]
        rate_prev = input_data_pd.loc[currency,i-1]
        if rate_cur > rate_prev:
            rate_change[currency] = [rate_prev, rate_cur]

Index(['20100104', '20100105', '20100106', '20100107', '20100108', '20100111',
       '20100112', '20100113', '20100114', '20100115',
       ...
       '20160902', '20160906', '20160907', '20160908', '20160909', '20160912',
       '20160913', '20160914', '20160915', '20160916'],
      dtype='object', length=1684)

In [14]:
# sample submit
output = []
output_temporary = {}
output_temporary["date"] = "20100105"
output_temporary["trades"] = [{"buy":"BRL","sellamount":1000,"sell":"USD"}]
output_temporary["balance"] = {"BRL":"1729.6"}
output.append(output_temporary)
print(output)

[{'date': '20100105', 'trades': [{'buy': 'BRL', 'sellamount': 1000, 'sell': 'USD'}], 'balance': {'BRL': '1729.6'}}]

In [15]:
# submit data and get result
submit_data(output)

b'{"_elapsed":2083,"_end":1566974521,"_start":1566972438,"_status":"test case passed","gain":-474.653}'

In [ ]:
# ATTENTION THERE IS NAN VALUE
print input_data_pd.isnull().any(axis=1)